<div class="loginContainer">
    <div class="login">
        <h2>Welcome to to my awesome app!</h2>
        <form action="./auth/login" method="POST">
            <button type="submit" class="btn btn-primary btn-lg" role="button">Login through GitLab</button>
        </form>
    </div>
</div>